# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Model weights
*.pth

# Dataset folders (don’t upload raw data)
data/dataset/train/
data/dataset/test/
data/dataset/val/

# Audio files
*.wav

# Environment variables
.env
